<p *ngIf="(state$|async)?.loading"> CARGANDO DATA...</p>

<div #ifNotLoading>

   <button  (click)="crearInscripcion()" type="button" mat-button>  Crear Inscripcion</button>


    <ul>
        <li *ngFor="let inscripciones of ( state$ | async )?.inscripciones">
            {{ inscripciones.student.nombre + '  -  ' + inscripciones.subject.nombre + '  -  ' + (inscripciones.course.fechaIni | date:'dd/MM/YYYY')}} 
         <button  (click)="eliminarInscripcionPorId(inscripciones.id)" color="primary" type=" button">
            <mat-icon> delete </mat-icon>
         </button>
        </li>
     </ul>



</div>


